.android-header.mdl-layout__header.mdl-layout__header--waterfall {
  overflow: visible;
  background-color: white;
}

.android-header .mdl-layout__header-row{
  color: #757575;
  font-weight: 700;
  font-size: 14px;
}

#change-color{
  color: #757575;
  font-weight: 700;
  font-size: 14px;
}



.android-be-together-section {
  position: relative;
  height: 500px;
  width: auto;
  /*background-color: #f3f3f3;*/
  /*background: url('images/slide01.jpg') center 30% no-repeat;*/
  background-size: cover;
}

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 500;
}

.android-create-character {
  font-size: 21px;
  padding-top: 400px;
}

#map {
  height: 500px;
  top: 0;
  bottom: 0;
  width: 100%;
}

#map2 {
  height: 500px;
  width: auto;
}

.set-font {
  right: 12.606px;
  top: 158.075px;
  width: 260px;
  background-color: white;
  z-index: 100;
  position: absolute;
}


.demo.mdl-card {
  right: -75%;
  top: -128.925px;
  width: 260px;
}
.demo > .mdl-card__title {
  color: #fff;
  height: 150px;
   background: #d9006e;
  /*background:url('https://s-media-cache-ak0.pinimg.com/564x/5b/19/46/5b19464caeab4d5452b9b20893af5467.jpg') center / cover;*/
}

.demo-card-square.mdl-card {
  left: 11.606px;
  top: 158.075px;
  width: 260px;
}

.dcs.mdl-card {
  left: 11.606px;
  top: 158.075px;
  width: 260px;
}

.bar.mdl-card {
  left: 11.606px;
  top: 158.075px;
  width: 300px;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  height: 150px;
  background:url('https://s-media-cache-ak0.pinimg.com/564x/5b/19/46/5b19464caeab4d5452b9b20893af5467.jpg') center / cover;
}

/*.demo-card-square > .mdl-card__title2 {
  color: #fff;
  height: 150px;
}*/

h2.mdl-card__title-text.title-front{
  font-size: 20px;
  margin: 0 0 0px;
}

/*.text-line-button{
  left: 11.606px;
  top: 58.075px;
  height: 176px;
  width: 100px;
  color: #fff;
  overflow-y: 300;
}*/
#NB{
  z-index: 1000;
  position: absolute;
  top: 126px;
  left: 173px;
  background-color: white;
}
.mdl-textfield__input{
  width:20px;
}

.demo-card-image.mdl-card {
  width: 140px;
  height: 152px;
  background: #d9006e;
  left: 87%;
  top: -29%;
}

.dcard.mdl-card {
  width: 140px;
  height: 152px;
  background: #d9006e;
  left: 87%;
  top: 11%;
}

.dcard> .mdl-card__title {
  color:#fff;
  height: 81px;
  background:url('https://s-media-cache-ak0.pinimg.com/564x/c4/6d/a9/c46da97ddba50de6be95f734429af854.jpg') center / cover;
}


.button{
      left: -189.394px;
      top: -166.925px;
      width: 96px;
      z-index: 100;
}

.input{
      left: -176.394px;
      top: -212.925px;
      width: 79px;
      z-index: 100;
      background-color: rgba(255, 255, 255, 0.43);
}

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 500;
}

.android-slogan {
  font-size: 60px;
  padding-top: 160px;
}

.android-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
}

.foot{
  height: 100px;
  background-color: #37474f;
}

#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
